:root{
    --main-color : #8f4df8;
    --color-primary : #111;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   
    background-color: var(--main-color) ;
   
}
*{
    box-sizing: border-box;
}
.content{
   
   padding : 1rem;
}
.jumbotron{
    height: 100vh;
    background-color: transparent;
}